.business-section {
    display: flex;
    align-items: center;
    gap: 91rem;
    margin-bottom: 146rem;
    position: relative;
        &::before {
            bottom: 0rem;
            right: 106rem;
            position: absolute;
            content: "";
            display: block;
            width: 120rem;
            height: 120rem;
            border: 10rem solid #FF007A;
            border-radius: 50%;
        }

            @include tablet {
                flex-direction: column;

                &::before {
                    bottom: 0rem;
                    right: 90rem;
                    position: absolute;
                    content: "";
                    display: block;
                    width: 120rem;
                    height: 120rem;
                    border: 10rem solid #FF007A;
                    border-radius: 50%;
                }
            }

            @include tablet-small {
                height: 1900rem;
                &::before {
                    display: none;
                }

            }

    &__info {}

    &__title {
        max-width: 358rem;
        color: $black;
        font-size: 40rem;
        font-family: $ff-main;
        font-weight: 400;
        margin-bottom: 20rem;

        @include desktop-small {
            font-size: 30rem;
        }
        @include tablet {
            text-align: center;
            font-size: 40rem;

        }
        @include tablet-small {
            margin: 0 auto;
            margin-bottom: 30rem;
        }
    }

    &__desk {
        max-width: 396rem;
        color: $darkGrey;
        font-size: 16rem;
        font-family: $ff-main;
        font-weight: 400;
        line-height: 25.60rem;
            @include tablet {
                text-align: center;
            }
    }

    &__planning { 
        max-width: 690rem;
        height: 847rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 35rem;
        column-gap: 35rem;
        @include tablet {
            min-width: 650rem;
        }

        @include tablet-small {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            p {
                max-width: 245rem;
                padding: 0 10rem;
                color: $Gray;
                font-size: 16rem;
                font-family: $ff-main;
                font-weight: 400;
                line-height: 22.40rem;
            }

                
        &_idea {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
            margin-top: 60rem;
            max-width: 308rem;
            max-height: 379rem;
            border-radius: 40rem;
            background: $white;
            box-shadow: 0rem 10rem 50rem rgba(0, 0, 0, 0.05);
            border: 1rem #F2F2F2 solid;
            h2 {
                max-width: 167rem;
                color: $black;
                font-size: 24rem;
                font-family: $ff-main;
                font-weight: 400;
            }
            @include tablet {
                margin-top: 0rem;
            }
                @include tablet-small {
                    min-height: 379rem;
                    min-width: 308rem;
                    margin-bottom: 20rem;
                }
                @include mobile {
                    max-width: 308rem;
                }  
        }
            &_box {
                width: 121rem;
                height: 121rem;
                padding: 24rem;
                background: #F1F7FF;
                border-radius: 20rem;
            }
        &_financial {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;  
            justify-content: space-evenly;          
            max-width: 308rem;
            max-height: 379rem;
            border-radius: 40rem;
            background: $white;
            position: relative;
            box-shadow: 0rem 10rem 50rem rgba(0, 0, 0, 0.05);
            border: 1rem #F2F2F2 solid;

                h2 {
                    max-width: 199rem;
                    color: $black;
                    font-size: 24rem;
                    font-family: $ff-main;
                    font-weight: 400;
                }

                @include tablet-small {
                    min-height: 379rem;
                    min-width: 308rem;
                    margin-bottom: 20rem;
                }
                    @include mobile {
                        max-width: 308rem;
                    }
        }

        &_wallet {
            width: 121rem;
            height: 121rem;
            padding: 24rem;
            background: #FFF7E3;
            border-radius: 20rem;
        }

        &_development {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;           
            max-width: 308rem;
            max-height: 379rem;
            border-radius: 40rem;
            background: $white;
            position: relative;
            box-shadow: 0rem 10rem 50rem rgba(0, 0, 0, 0.05);
            border: 1rem #F2F2F2 solid;

                h2 {
                    max-width: 239rem;
                    color: $black;
                    font-size: 24rem;
                    font-family: $ff-main;
                    font-weight: 400;
                }

                    @include tablet {
                        top: -30rem;
                    }
                        @include tablet-small {
                            top: -10rem;
                            min-height: 379rem;
                            min-width: 308rem;
                            margin-bottom: 20rem;
                        }
                            @include mobile {
                                max-width: 308rem;
                            }
        }

        &_code {
            width: 121rem;
            height: 121rem;
            padding: 24rem;
            background: #FFF2F8;
            border-radius: 20rem;
        }

        &_analisis {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
            top: -57rem;
            max-width: 308rem;
            max-height: 379rem;
            border-radius: 40rem;
            background: $white;
            position: relative;
            box-shadow: 0rem 10rem 50rem rgba(0, 0, 0, 0.05);
            border: 1rem #F2F2F2 solid;

                h2 {
                    max-width: 231rem;
                    color: $black;
                    font-size: 24rem;
                    font-family: $ff-main;
                    font-weight: 400;
                }

                    @include tablet {
                        top: -30rem;
                    }
                        @include tablet-small {
                            top: -10rem;
                            min-height: 379rem;
                            min-width: 308rem;
                            margin-bottom: 20rem;
                        }
                            @include mobile {
                                max-width: 308rem;
                            }
        }
            &_chart {
                width: 121rem;
                height: 121rem;
                padding: 24rem;
                background: #DEFFEE;
                border-radius: 20rem;
            }

    }
}

