.business-section {
    display: flex;
    align-items: center;
    gap: 91rem;
    margin-bottom: 146rem;
    position: relative;
        &::before {
            bottom: 0rem;
            right: 106rem;
            position: absolute;
            content: "";
            display: block;
            width: 120rem;
            height: 120rem;
            border: 10rem solid #FF007A;
            border-radius: 50%;
        }

            @include tablet {
                flex-direction: column;
                margin-bottom: 30rem;

                &::before {
                    bottom: 0rem;
                    right: 120rem;
                    position: absolute;
                    content: "";
                    display: block;
                    width: 120rem;
                    height: 120rem;
                    border: 10rem solid #FF007A;
                    border-radius: 50%;
                }
            }

            @include tablet-small {
                &::before {
                    display: none;
                }

            }

    &__info {}

    &__title {
        max-width: 358rem;
        color: $black;
        font-size: 40rem;
        font-family: $ff-main;
        font-weight: 400;
        margin-bottom: 20rem;

        @include desktop-small {
            font-size: 30rem;
        }
        @include tablet {
            text-align: center;
            font-size: 40rem;

        }
        @include tablet-small {
            margin: 0 auto;
            margin-bottom: 30rem;
        }
    }

    &__desk {
        max-width: 396rem;
        color: $darkGrey;
        font-size: 16rem;
        font-family: $ff-main;
        font-weight: 400;
        line-height: 25.60rem;
            @include tablet {
                text-align: center;
            }
    }

    &__planning { 
        padding-right: 20rem;
        max-width: 650rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 35rem;
        column-gap: 35rem;
            @include mobile {
                padding-right: 0rem;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
           
        &_idea {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 60rem;
            border-radius: 40rem;
            background: $white;
            box-shadow: 0rem 10rem 50rem rgba(0, 0, 0, 0.05);
            border: 1rem #F2F2F2 solid;
            @include tablet-small {
                margin-top: 0rem;
            }
            h2 {
                padding: 0rem 70rem;
                color: $black;
                font-size: 24rem;
                font-family: $ff-main;
                font-weight: 400;
            }
                @include mobile {
                    max-width: 350rem;
                }
        }
            &_box {
                margin-top: 39rem;
                margin-bottom: 31rem;
                width: 121rem;
                height: 121rem;
                padding: 24rem;
                background: #F1F7FF;
                border-radius: 20rem;
            }
                p {
                    padding: 27rem 32rem 57rem 32rem;
                    color: $Gray;
                    font-size: 16rem;
                    font-family: $ff-main;
                    font-weight: 400;
                    line-height: 22.40rem;
                }
        &_financial {
            max-height: 379rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;          
            border-radius: 40rem;
            background: $white;
            position: relative;
            box-shadow: 0rem 10rem 50rem rgba(0, 0, 0, 0.05);
            border: 1rem #F2F2F2 solid;
            @include tablet-small {
                max-height: 100%;
            }

                h2 {
                    padding: 0rem 55rem;
                    color: $black;
                    font-size: 24rem;
                    font-family: $ff-main;
                    font-weight: 400;
                }

                    @include mobile {
                        max-width: 350rem;
                    }
        }

        &_wallet {
            margin-top: 39rem;
            margin-bottom: 31rem;
            width: 121rem;
            height: 121rem;
            padding: 24rem;
            background: #FFF7E3;
            border-radius: 20rem;
        }
                p {
                    padding: 27rem 32rem 57rem 32rem;
                    color: $Gray;
                    font-size: 16rem;
                    font-family: $ff-main;
                    font-weight: 400;
                    line-height: 22.40rem;
                }

        &_development {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-radius: 40rem;
            background: $white;
            position: relative;
            box-shadow: 0rem 10rem 50rem rgba(0, 0, 0, 0.05);
            border: 1rem #F2F2F2 solid;

                h2 {
                    padding: 0rem 35rem;
                    color: $black;
                    font-size: 24rem;
                    font-family: $ff-main;
                    font-weight: 400;
                }
                        @include mobile {
                            max-width: 350rem;
                        }
        }

        &_code {
            margin-top: 39rem;
            margin-bottom: 31rem;
            width: 121rem;
            height: 121rem;
            padding: 24rem;
            background: #FFF2F8;
            border-radius: 20rem;
        }
                p {
                    padding: 27rem 32rem 57rem 32rem;
                    color: $Gray;
                    font-size: 16rem;
                    font-family: $ff-main;
                    font-weight: 400;
                    line-height: 22.40rem;
                }

        &_analisis {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            top: -57rem;
            border-radius: 40rem;
            background: $white;
            position: relative;
            box-shadow: 0rem 10rem 50rem rgba(0, 0, 0, 0.05);
            border: 1rem #F2F2F2 solid;
            @include tablet-small {
                top: 0rem;
            }

                h2 {
                    max-width: 231rem;
                    color: $black;
                    font-size: 24rem;
                    font-family: $ff-main;
                    font-weight: 400;
                }

                        @include mobile {
                            max-width: 350rem;
                        }
        }
            &_chart {
                margin-top: 39rem;
                margin-bottom: 31rem;
                width: 121rem;
                height: 121rem;
                padding: 24rem;
                background: #DEFFEE;
                border-radius: 20rem;
            }
                    p {
                        padding: 27rem 32rem 57rem 32rem;
                        color: $Gray;
                        font-size: 16rem;
                        font-family: $ff-main;
                        font-weight: 400;
                        line-height: 22.40rem;
                    }

    }
}

