.header {
	padding-top: 42rem;
	padding-bottom: 35rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

			.burger-icon {
				display: none;

				@include tablet {
					display: inline-block;
				}
			}


	&__logo {
		width: 120rem;
		height: 34rem;
	}

	&__ul {
		display: flex;
		align-items: center;
		gap: 60rem;

		@include tablet {
			position: fixed;
			width: 300rem;
			height: 100%;
			top: 0;
			left: 0;
			background: $blue;
			z-index: 3;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transform: translateX(-120%);

				
		}
	}

	&__a {
		color: $black;
		font-family: $ff-main;
		font-size: 16rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.16rem;

		@include tablet {
			color: $white;
		}
	}
	
			.burger-input {
				display: none;
			}
			.burger-input:checked~ul {
				transform: translateX(0);
			}
}


