.product-section {

    margin-bottom: 137px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 118px;
    }

    &__img {
        max-width: 550px;
        position: relative;
    }    
        &::before {
            top: 2275px;
            left: 582px;
            position: absolute;
            content: "";
            display: block;
            width: 129px;
            height: 129px;
            background: #FFF5DB;
            border-radius: 50%;
        }
    &__info {}

    &__title {
        max-width: 468px;
        color: $black;
        font-size: 40px;
        font-family: $ff-main;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &__desc {
        max-width: 532px;
        color: $darkGrey;
        font-size: 16px;
        font-family: $ff-main;
        font-weight: 400;
        line-height: 25.60px;
    }
}