.say-section {
    margin-bottom: 148rem;
    @include tablet {
        margin-bottom: 65rem;
    }

    &__title {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 485rem;
        color: $black;
        font-size: 40rem;
        font-family: $ff-main;
        font-weight: 400;
        margin-bottom: 17rem;
        text-align: center;
        @include mobile {
            font-size: 30rem;
        }
    }

    &__desc {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 113rem;
        max-width: 556rem;
        color: $Gray;
        font-size: 18rem;
        font-family: $ff-main;
        font-weight: 400;
        line-height: 25.60rem;
        text-align: center;
        @include tablet {
            margin-bottom: 40rem;
        }
    }

    &__container-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70rem;
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40rem;
        }
    }

    &__user-img  {
        position: relative;

        img {
            position: relative;
            border-radius: 500rem 0rem 500rem 500rem;
            object-fit: fill;
        }
    }

    &__info {

        &_name {
            max-width: 156rem;
            color: $black;
            font-size: 24rem;
            font-family: $ff-main;
            font-weight: 400;
            margin: 0 auto;
            margin-bottom: 21rem;
            text-align: center;
        }

        &_response {
            max-width: 532rem;
            color: $darkGrey;
            font-size: 16rem;
            font-family: $ff-main;
            font-weight: 400;
            line-height: 25.60rem;
            text-align: center;
        }
    }

    &__friends {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 26rem;
        &_a {
            top: 65rem;
            position: relative;
        }

        &_b {
            position: relative;
            top: 205rem;
            right: 109rem;
        }

        &_c {
            position: relative;
            top: -105rem;
            right: -120rem;
        }

        &_d {
            position: relative;
            top: 5rem;
        }

        &_f {
            position: relative;
            top: 20rem;
            right: -95rem;
        }
    }
}